.blogHeader {
  background: url(../images/blog-header.jpg);
  height: 50vh;
  background-position: left bottom;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

body {
  background-color: $backgroundColor;
}

h4 {
  color: $baseFontColor;
  font-size: 20px;
  text-transform: uppercase;
  font-family: $headingFont;
}

.blogSection1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftColumn {
  width: 30%;
  margin-top: 5%;
  
}

.rightColumn {
  width: 60%;
  margin-top: -15%;
}

.rightColumn h1 {
  font-size: 3rem;
  margin-bottom: 25px;
}

.greenBoxContent {
  background-color: $backgroundColor2;
  }

.latestBlogPost {
  box-shadow: -20px 20px $accentColor;
}

.blogContainer img {
  width: 100%;
  position: relative;
  right: 0;
  display: block;
}

.blogBox {
  background-color: $backgroundColor; 
  display: block;
  padding-top: 20px;
}

.blogPosts li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.blogPosts li a:hover {
  color: $accentColor;
}

.date {
  margin-bottom: 50px;
}

.commentsSection h4{
  margin: 40px 0 50px 0;
}

.tuesday, .wednesday {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.tuesday img, .wednesday img {
  margin-right: 20px;
  width: 10%;
}

.commentsRight {
  display: block;
  width: 80%;
}

/* ========= BLOG FORM STYLES ====================*/ 

textarea {
  display: block;
  margin-top: 20px;
  background-color: $accentColor2;
  color: $baseFontColor;
  border: 2px solid $accentColor;
  width: 830px;
}

input {
  background-color: $accentColor2;
  border: 0;
  outline: 0;
  border-bottom: 2px solid $accentColor;
  width: 400px;
}

input::placeholder {
  color: $baseFontColor;
}

label {
  display: block;
  visibility: hidden;
}

.submitButton {
  background-color: $backgroundColor2;
  color: $baseFontColor;
  margin-bottom: 20px;
  width: 830px;
}

.topHalf {
  display: flex;
  flex-direction: row;
}

.email {
  margin-left: 30px;
}

.bottomForm {
  width: 100%;
}