
.contactHeader {
  background: url(../images/contact-header.jpg);
}

.contactPage {
  display: flex;
  flex-direction: row;
}

.formSectionOne {
  display: inline;
  margin-right: 10%;
}

.contactInfoLeft {
  display: inline;
  margin-left: 10%;
  padding: 30px;
}

.contactInfoLeft h3 {
  padding: 15px 0px;
}

.contactInfoLeft li {
  color: $baseFontColor;
}

.formSectionOne {
  width: 50%;
  position: relative;
  bottom: 300px;
}

.formSectionOne h1 {
  font-size: 3rem;
  padding-bottom: 40px;
  width: 50%;
}

.contactPageForm {
  background-color: $backgroundColor2; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: -30px 30px $accentColor;
  padding: 10px 30px 10px 30px;
}

.contactFormTop {
  display: flex;
  flex-direction: row;
}

.submitButton1 {
  background-color: $accentColor2; 
  color: $baseFontColor;
  width: 830px; 
  margin-bottom: 40px;
}

.submitButton1:hover {
  background-color: $accentColor;
}

input {
  background-color: $backgroundColor2;
}

.contactFormBottom textarea {
  background-color: $backgroundColor2;
  padding: 10px;
  font-family: $bodyFont;
  font-size: 18px;
}

.fab {
  color:white;
  display: inline;
  padding-right: 20px;
}

