
/* ============ HOME SECTION 1 ============== */
.section1 {
  background-color: $accentColor2;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.sec1Content {
  width: 40%;
  padding-top: 15%;
  text-align: center;
}

.sec1Content h2 {
  padding-bottom: 20px;
}

button {
  background-color: $accentColor;
  color: $accentColor2;
  font-family: $headingFont;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
}

/* ============ HOME SECTION 2 ============== */
.section2 {
  background-color: $backgroundColor2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section2 button {
  background-color: $accentColor2;
  color: $baseFontColor;
}

/* ============ HOME SECTION 3 ============== */
.section3 {
  background-color: $backgroundColor;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.locations, .community, .blog, .getInTouch {
  width: 50%;
  padding: 40px;
}

.loc, .comm, .bl, .get {
  background-color: $accentColor;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* ============ HOME SECTION 4 ============== */
.section4 {
  background-color: $backgroundColor;
}

.banner img {
  width: 100%;
}

/* ============ HOME SECTION 5 ============== */
.section5 {
  background-color: $backgroundColor2;
}

